[Desktop Entry]
Name=Chromium Microsoft Outlook 365
Name[en_US]=Chromium Microsoft Outlook 365
GenericName=Microsoft Outlook 365 App in Web Browser
GenericName[en_US]=Microsoft Outlook 365 App in Web Browser
Comment=Microsoft Outlook 365 App in Web Browser
Exec=chromium-M
Path=
Terminal=false
Type=Application
Icon=chromium
StartupNotify=true
Categories=Network;WebBrowser;
MimeType=application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/about;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/unknown;
NoDisplay=true
Actions=new-window

[Desktop Action new-window]
Name=New Window
Exec=chromium-M %U
